body {
  margin: 0;
  background-color: rgba(240, 240, 240, 0.795);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: rgb(221, 27, 60);
  border-radius: 9999px;
}